<%= render partial: "info_idea", locals: { idea: current_idea } %>

<%= decidim_form_for(@form, url: idea_answer_path(current_idea), html: { class: "form edit_idea_answer" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".title", title: translated_attribute(current_idea.title) %></h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <%= f.translated :editor, :answer, autofocus: true, rows: 15 %>
      </div>

      <div class="row column">
        <%= f.text_field :answer_url %>
      </div>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit t(".answer") %>
  </div>
<% end %>
