<%= decidim_form_for @form, html: { class: "form edit_idea" } do |f| %>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t(".update"), class: "button" if allowed_to? :update, :idea, idea: current_idea %>

    <% if allowed_to? :send_to_technical_validation, :idea, idea: current_idea %>
      <%= link_to t(".send_to_technical_validation"),
                  send_to_technical_validation_idea_path(current_idea),
                  class: "button muted",
                  data: { confirm: t(".confirm_send_to_technical_validation") } %>
    <% elsif current_idea.created? %>
      <%= link_to t(".send_to_technical_validation"), "#", class: "button muted disabled" %>
    <% end %>

    <% if allowed_to? :publish, :idea, idea: current_idea %>
      <%= link_to t("actions.publish", scope: "decidim.admin"),
                  publish_idea_path(current_idea),
                  method: :post,
                  class: "button hollow",
                  data: { confirm: t(".confirm") } %>
    <% end %>

    <% if allowed_to? :unpublish, :idea, idea: current_idea %>
      <%= link_to t("actions.unpublish", scope: "decidim.admin"),
                  unpublish_idea_path(current_idea),
                  method: :delete,
                  class: "button alert",
                  data: { confirm: t(".confirm") } %>
    <% end %>

    <% if allowed_to? :accept, :idea, idea: current_idea %>
        <%= link_to t(".accept"),
                    accept_idea_path(current_idea),
                    method: :post,
                    class: "button hollow",
                    data: { confirm: t(".confirm") } %>
    <% end %>

    <% if allowed_to? :reject, :idea, idea: current_idea %>
        <%= link_to t(".reject"),
                    reject_idea_path(current_idea),
                    method: :delete,
                    class: "button alert",
                    data: { confirm: t(".confirm") } %>
    <% end %>

    <% if allowed_to? :discard, :idea, idea: current_idea %>
      <%= link_to t(".discard"),
                  discard_idea_path(current_idea),
                  method: :delete,
                  class: "button alert",
                  data: { confirm: t(".confirm") } %>
    <% end %>
   </div>
<% end %>
