- content_for :back_link do
  = link_to :back do
    = icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true
    = t(".back")
.row.column
  .medium-centered
    .callout.secondary
      != t ".fill_data_help"
%br/
.row.column
  .medium-centered
    .card
      .card__content
        = decidim_form_for(@form, url: next_wizard_path, method: :put, html: { class: "form new_idea_form" }) do |f|
          = form_required_explanation
          = f.hidden_field :type_id
          .section
            - unless single_active_idea_type?
              .field
                %label{:for => "type_description"}= t ".idea_type"
                = text_field_tag :type_description, strip_tags(translated_attribute(idea_type.title)), readonly: true
            .field
              = f.text_field :title, autofocus: true
            .field
              = f.editor :description, lines: 8, toolbar: :full
            .field
              = f.text_area :problem, rows: 2
            .field
              = f.text_area :current_state, rows: 2
            .field
              = f.text_area :info, rows: 2, placeholder: 'Internetseite, Mailadresse von Ansprechpersonen, Telefonnummer, Adresse'
            .field
              = f.text_area :source, autofocus: true, placeholder: true, rows: 3

            - if scopes.length == 1
              = f.hidden_field :scope_id, value: scopes.first.scope&.id
            - else
              .field
                = f.select :scope_id,                                                                |
                  scopes.map { |scope| [translated_attribute(scope.scope_name), scope&.scope&.id] }, |
                  required: true,                                                                    |
                  include_blank: t(".select_scope")

            -# .row.columns
            -#   .field
            -#     = f.text_field :hashtag

            - if Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.any?
              .field
                = f.select :decidim_user_group_id,                                                                 |
                  Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.map { |g| [g.name, g.id] }, |
                  include_blank: current_user.name

            .row.columns
              .field.hero-image
                = f.upload :hero_image, button_label: 'Titelbild hinzufügen', help_i18n_scope: 'decidim.forms.file_help.image'

            - if idea_type.attachments_enabled?
              .row.columns
                %fieldset.attachments_container
                  %legend= t("attachment_legend", scope: "decidim.ideas.form")
                  = f.attachment :documents, multiple: true, label: t("add_attachments", scope: "decidim.ideas.form")


            %fieldset
              %legend
                Weitere Angaben

              .field
                = f.text_area :steps, rows: 2
              .field
                = f.text_area :boards, rows: 2
              .field
                = f.text_area :obstacles, rows: 2
              .field
                = f.text_area :time, rows: 2
              .field
                = f.text_area :hours, rows: 2
              .field
                = f.text_area :cooperations, rows: 2
              .field
                = f.text_area :staff, rows: 2
              .field
                = f.text_area :working_hours, rows: 2
              .field
                = f.text_area :costs, rows: 2

          .actions
            = f.submit t(".continue"), class: "button expanded", data: { disable_with: true }
