<div class="card" id="committee_members">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".title" %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= t ".invite_to_committee_help" %>
    </div>

    <div class="row column">
      <div class="committee_link" id="committee_link">
        <%= decidim_ideas.new_idea_committee_request_url(current_idea) %>
      </div>
      <%= icon_link_to "clipboard", "#", t(".invite_to_committee_help"), class: "card--list__data__icon invite-users-link" %>
    </div>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t "user", scope: "activemodel.attributes.ideas_committee_member" %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>



        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_ideas_admin" %>
