= ideas_filter_form_for filter do |form|
  .filters__section
    .filters__search
      .input-group
        = form.search_field :search_text_cont, label: false, class: "input-group-field", placeholder: t(".search"), title: t(".search"), "aria-label": t(".search")
        .input-group-button
          %button.button{:type => "submit"}
            = icon "magnifying-glass", aria_label: t(".search"), role: "img"
  - unless single_idea_type?
    = form.check_boxes_tree :with_any_type, filter_types_values, legend_title: t(".type")
  = form.check_boxes_tree :with_any_scope, filter_scopes_values, legend_title: t(".scope")
  = form.check_boxes_tree :with_any_state, filter_states_values, legend_title: t(".state")
  = hidden_field_tag :order, order, id: nil, class: "order_filter"

