= form_required_explanation
- if current_idea.persisted?
  .field
    = form.translated :text_field, :title, autofocus: true, disabled: !allowed_to?(:update, :idea, idea: current_idea), value: translated_attribute(@form.title), required: true
  .field
    = form.translated :editor, :description, toolbar: :full, lines: 8, disabled: !allowed_to?(:update, :idea, idea: current_idea), value: translated_attribute(@form.description), required: true
  .field
    = form.translated :text_area, :problem, rows: 3, placeholder: true
  .field
    = form.translated :text_area, :steps, rows: 3, placeholder: true
  .field
    = form.translated :text_area, :obstacles, rows: 3, placeholder: true
  .field
    = form.translated :text_area, :staff, rows: 3, placeholder: true
  .field
    = form.translated :text_area, :info, rows: 3, placeholder: true, required: true
- else
  .field
    = form.text_field :title, autofocus: true, disabled: !allowed_to?(:update, :idea, idea: current_idea), value: translated_attribute(@form.title)
  .field
    = form.editor :description, toolbar: :full, lines: 8, disabled: !allowed_to?(:update, :idea, idea: current_idea), value: translated_attribute(@form.description)

.field
  = form.select :scope_id,                                                                             |
    @form.available_scopes.map { |scope| [translated_attribute(scope.scope_name), scope&.scope&.id] }, |
    { disabled: !@form.state_updatable? }

-# .field
-#   = form.text_field :hashtag, disabled: !allowed_to?(:update, :idea, idea: current_idea)

.preview
  .field
    = form.upload :hero_image, button_label: 'Titelbild hinzufügen', help_i18n_scope: 'decidim.forms.file_help.image', extension_allowlist: current_organization.attached_uploader(:official_img_header).extension_allowlist

- if current_idea.type.attachments_enabled?
  %fieldset.attachments_container
    %legend= t("attachment_legend", scope: "decidim.ideas.form")
    - if @form.photos.any?
      - @form.photos.each do |photo|
        .callout.gallery__item{"data-closable" => ""}
          = image_tag photo.thumbnail_url, class: "thumbnail", alt: photo.file.filename
          = form.hidden_field :photos, multiple: true, value: photo.id, id: "photo-#{photo.id}"
          %button.close-button{"aria-label" => "#{t("delete_attachment", scope: "decidim.ideas.form")}", "data-close" => "", :title => "#{t("delete_attachment", scope: "decidim.ideas.form")}", :type => "button"}
            %span{"aria-hidden" => "true"} ×
    - if @form.documents.any?
      - @form.documents.each do |document|
        .callout{"data-closable" => ""}
          = link_to translated_attribute(document.title), document.url
          %small
            = document.file_type
            = number_to_human_size(document.file_size)
          = form.hidden_field :documents, multiple: true, value: document.id, id: "document-#{document.id}"
          %button.close-button{"aria-label" => "#{t("delete_attachment", scope: "decidim.ideas.form")}", "data-close" => "", :title => "#{t("delete_attachment", scope: "decidim.ideas.form")}", :type => "button"}
            %span{"aria-hidden" => "true"} ×
    .row.column
      = form.file_field :add_documents, multiple: true, label: t("add_attachments", scope: "decidim.ideas.form")

%fieldset
  %legend
    Optionale Angaben

  .field
    = form.translated :text_area, :miscellaneous, rows: 6, placeholder: true


- content_for :js_content do
  = javascript_pack_tag "decidim_ideas"

