<% if idea.answered? && translated_attribute(idea.answer).present? %>
  <br>
  <div class="row column">
    <div class="callout state success <%= idea.state %>">
        <h5><%= I18n.t(idea.state, scope: "decidim.ideas.admin_states") %></h5>
        <%= decidim_sanitize_editor translated_attribute idea.answer %>
        <% if idea.answer_url.present? %>
          <p>
          <a href="<%= idea.answer_url %>" target="_blank" class="button">
            <%= I18n.t(idea.state, scope: "decidim.ideas.answered_link_button") %>
          </a>
          </p>
        <% end %>
    </div>
  </div>
<% end %>
