<% add_decidim_page_title(action_name) %>

<div class="row columns">
  <%= link_to :back, class: "muted-link" do %>
    <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
    <%= t("back", scope: "decidim.ideas.edit") %>
  <% end %>
  <h2 class="section-heading"><%= t("title", scope: "decidim.ideas.edit") %></h2>
</div>

<div class="row">
  <div class="columns large-6 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for @form, html: { class: "form edit_idea" } do |f| %>
          <%= render partial: "form", object: f %>
          <div class="actions">
            <%= f.submit t("update", scope: "decidim.ideas.edit"), class: "button expanded" if allowed_to? :update, :idea, idea: current_idea %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
