<% add_decidim_meta_tags({
  image_url: current_idea.type.attached_uploader(:banner_image).path,
  description: translated_attribute(current_idea.description),
  title: translated_attribute(current_idea.title),
  url: idea_url(current_idea.id),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :read,
  :idea
)
%>

<%= participatory_space_floating_help %>

<% add_decidim_page_title(translated_attribute(current_idea.title)) %>
<% provide :meta_image_url, current_idea.type.attached_uploader(:banner_image).path %>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
    <% if current_user %>
       <% if current_idea.published? %>
        <div id="likes-button">
          <% if current_idea.get_upvotes.where(voter: current_user).any? %>
            <%= render partial: 'like' %>
          <% else %>
          <%= render partial: 'unlike' %>
          <% end %>
        </div>
        <% end %>
    <% end %>

        <% if current_idea.published? || current_idea.rejected? || current_idea.accepted? %>
          <% if current_idea.commentable? %>
            <%= render partial: "interactions" %>
          <% end %>
        <% end %>

        <% if current_user && (current_idea&.has_authorship?(current_user) || current_user.admin?) %>
          <% if current_idea.created? || current_idea.validating? %>
            <%= link_to t(".edit"),
                edit_idea_path(current_idea),
                class: "button secondary expanded" %>
          <% elsif current_idea.published? %>
            <%= link_to t(".edit"),
                edit_idea_path(current_idea),
                class: "button secondary expanded",
                data: { confirm: t(".confirm_edit") }  %>
          <% end %>
        <% end %>
        <% if current_idea.created? %>
          <%= render partial: "send_to_technical_validation", locals: {
                                                                title: t(".send_to_technical_validation"),
                                                                confirm: t(".confirm")
                                                              } %>
        <% end %>



    <% if current_user %>
      <div class="card text-center">
        <div class="card__content">
          <%= cell "decidim/follow_button", current_participatory_space, inline: false, large: true %>
          <small><%= t(".follow_description") %></small>
        </div>
      </div>
    <% end %>
    <%= render partial: "decidim/shared/share_modal" %>
    <%= embed_modal_for idea_widget_url(current_idea, format: :js) %>
    <%= resource_reference(current_idea) %>
    <%= resource_version(current_idea, versions_path: idea_versions_path(current_idea)) %>
  </div>

  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <div class="row column">
        <h2 class="heading2">
          <%= translated_attribute(current_idea.title) %>
        </h2>
        <%= render partial: "author", locals: { idea: current_idea } %>
      </div>
      <br>
      <div class="row column">
        <%= render partial: "idea_badge", locals: { idea: current_idea } %>
        <% if translated_attribute(current_idea.source).present? %>
          <p><strong><%= t('.source') %>: <%= strip_tags(translated_attribute(current_idea.source)) %></strong></p>
        <% end %>
        <%= decidim_sanitize_editor translated_attribute(current_idea.description) %>
        <%= render partial: "tags", locals: { resource: current_idea } %>
      </div>

      <%= render partial: "result", locals: { idea: current_idea } %>
    </div>

    <%= attachments_for current_idea %>
  </div>
</div>

<%= comments_for current_idea if current_idea.commentable? && current_idea.published? %>
